<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

   	<link rel="stylesheet" href="static\\login.css">
   	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>Welcome to our exotic cocktail collection</header>
	<div id=main-box>
	    <form id="login" method="post">
	        <label>Username:</label><br>
	        <input type="text" name="username"><br><br>
	        <label>Password:</label><br>
	        <input type="password" name="password"><br><br>
	        <input id="login-button" type="submit" value="Login">
	    </form>
	    <form id="register" action="/register">
	        <label>First time here?</label>
	        <input id="reg-button" type="submit" value="Sign Up">
	    </form>
	</div>
	{% if error: %}
		<div id=error-box>
			<p>{{error}}</p>
		</div>
	{% endif %}
	<footer>gg</footer>
</body>

</html>

