<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="static\\register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>Enter your information</header>
	<div id=main-box>
	    <form method="post">
	        <label>Username:</label><br>
	        <input type="text" name="new_username" id="new_username"><br><br>
	        <label>Password:</label><br>
	        <input type="password" name="new_password" id="new_password"><br><br>
	        <input id="reg-button" type="submit" value="Register">
	    </form>
	</div>

	{% if error: %}
		<div id="error-box">
			<p>{{error}}</p>
		</div>
	{% endif %}
	<footer>b</footer>
</body>

</html>
